
// test , funkar i ren css men inte här - läser in fel ???!!???!?! 
.toparea {

        text-align: center;
        background-color: blue;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;       

}
