.toparea {

        text-align: center;
        background-color: blue;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;       

}

.lessismore {

    background-color: black; // temp testa sccs så att det funkar funkar inte !!!!!!!! #)%=)(#=%()=%(%(?"

}